<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Bike</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "normalize", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header_wrapper">
	<div class="header cf">
		<div class="box1">
			<div class="header_title">
				<h1><a href="#"><%= image_tag "header_logo.png"%></a></h1>
			</div>
		</div>

	<div class="box2" >
	   <div class="box2-1 cf"> 
	  		<ul class="nav_menu">
	  			<% unless signed_in? %>
	  			<li><%=link_to "HOME", root_path%></li>
	  			<li><%=link_to "About", "#"%></li>
	  			<li><%=link_to "Login", new_session_path%></li>
	  			<li><%= link_to "SingUp", new_user_path%></li>
	  			<li><%= link_to "article", articles_path%></li>
	  			<% else %>
	  			<li><%= link_to "HOME", root_path %></li>
	  			<li><%= link_to "article", user_articles_path(current_user) %></li>
	  			<li><%= link_to "My Photo Gallery", "#" %></li>
	  			<li><%= link_to  current_user.name + "'s \sprofile", user_path(current_user)%></li>
	  			<li><%= link_to "Logout", session_path(current_user), method: 
	  			:delete, confirm: "Are you sure?"%></li>
	  			<% end %>
	  		</ul>
	  	</div>
	</div> <!-- box2 -->
	</div> <!-- header -->
</div> <!-- header_wrapper -->


<div id="content">
		<% flash.each do |key, value| %>
		<div class="alert"><%= key %><%= value %> </div>
		<% end %>	
		<%= yield %> 
</div>

<div class="box7">
<div class="box7-inner">
	<div class="copyright">
	<p>Copyright &copy; TimeSwitch</p>
	</div>
</div>
</div>

</body>
</html>
